body{
    margin: 0px;
    background-color: #EDF2F4;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 500px;
    background-image: url("../images/kunstgessen willy.jpg");
    background-repeat: repeat-y;
    background-color: #EDF2F4;
    background-size: cover;
}

header h1 {
    margin: 0px;
    color: red}
